<%= form_for(@link, html: {role: "form"}) do |f| %>
  <% if @link.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-10 col-md-offset-1">
    <%= f.text_field :given_url, id: "input-lg", class: "form-control input-lg", placeholder: "Enter Url" %>
  </div>
</div>
<br>
<div class="row">
  <div class="actions">
    <%= f.submit 'Shorten', class: 'btn btn-default' %>
  </div>
</div>
<% end %>
